<p id="notice"><%= notice %></p>

<p>
  <strong>Nomcommun:</strong>
  <%= @plante.nomCommun %>
</p>

<p>
  <strong>Nomscientifique:</strong>
  <%= @plante.nomScientifique %>
</p>

<p>
  <strong>Description:</strong>
  <%= @plante.description %>
</p>

<p>
  <strong>Dimension:</strong>
  <%= @plante.dimension %>
</p>

<p>
  <strong>Fleur:</strong>
  <%= @plante.fleur %>
</p>

<p>
  <strong>Tige:</strong>
  <%= @plante.tige %>
</p>

<p>
  <strong>Feuille:</strong>
  <%= @plante.feuille %>
</p>

<p>
  <strong>Racine:</strong>
  <%= @plante.racine %>
</p>

<p>
  <strong>Fruit:</strong>
  <%= @plante.fruit %>
</p>

<%= link_to 'Remedes', plante_remedes_path(@plante) %>
<%= link_to 'Remedes', plante_poisons_path(@plante) %>
<%= link_to 'Edit', edit_plante_path(@plante) %> |
<%= link_to 'Back', plantes_path %>
