<p id="notice"><%= notice %></p>

<p>
  <strong>Modeadministration:</strong>
  <%= @remede.modeAdministration %>
</p>

<p>
  <strong>Partieplante:</strong>
  <%= @remede.partiePlante %>
</p>

<p>
  <strong>Maux:</strong>
  <%= @remede.maux %>
</p>

<p>
  <strong>Infocomplementaire:</strong>
  <%= @remede.infoComplementaire %>
</p>

<p>
  <strong>Plante:</strong>
  <%= @remede.plante %>
</p>

<%= link_to 'Edit', edit_plante_remede_path(@remede) %> |
