<p id="notice"><%= notice %></p>

<h1>Poisons</h1>

<table>
  <thead>
    <tr>
      <th>Action</th>
      <th>Medium</th>
      <th>Toxicite</th>
      <th>Partieplante</th>
      <th>Infocomplementaire</th>
      <th>Plante</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @poisons.each do |poison| %>
      <tr>
        <td><%= poison.action %></td>
        <td><%= poison.medium %></td>
        <td><%= poison.toxicite %></td>
        <td><%= poison.partiePlante %></td>
        <td><%= poison.infoComplementaire %></td>
        <td><%= poison.plante %></td>
        <td><%= link_to 'Show', poison %></td>
        <td><%= link_to 'Edit', edit_poison_path(poison) %></td>
        <td><%= link_to 'Destroy', poison, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Poison', new_poison_path %>
